.home {
  background: radial-gradient(rgba(25,25,28,0.88) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                              #9c3cf7 100%);
  color: aliceblue;
  min-width: 50vh;
  min-height: 100%;
  width: 100%;
  animation-name:change;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 17s;
}

@keyframes change {
 0%{ background: radial-gradient(rgba(25,25,28,0.87) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }
 5%{ background: radial-gradient(rgba(25,25,28,0.86) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
   }
 10%{ background: radial-gradient(rgba(25,25,28,0.85) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }
 25%{ background: radial-gradient(rgba(25,25,28,0.84) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }

 50%{ background: radial-gradient(rgba(25,25,28,0.83) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 14.2%,
                             #19191c 19.2%,
                             #19191c 44%,
                             #0e0ab4 54.5%,
                             #0a0561 61.4%,
                             #060551 67.2%,
                             #3b164c 73.9%,
                             #191922 89.1%,
                             #1e1ae8 90.1%,
                             #0a06b7 91.6%,
                             #19191c 92.7%,
                             #9c3cf7 100%);
    }

70%{ background: radial-gradient(rgba(25,25,28,0.82) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }

  100%{ background: radial-gradient(rgba(25,25,28,0.81) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
      }

 70%{ background: radial-gradient(rgba(25,25,28,0.82) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }
 50%{ background: radial-gradient(rgba(25,25,28,0.83) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }

 25%{ background: radial-gradient(rgba(25,25,28,0.84) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }
 10%{ background: radial-gradient(rgba(25,25,28,0.85) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }

 5%{ background: radial-gradient(rgba(25,25,28,0.86) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }

 0%{ background: radial-gradient(rgba(25,25,28,0.88) 50%,
                              #19191c 80%),
              conic-gradient(#9c3cf7 0,
                             #19191c 17.2%,
                             #19191c 22.2%,
                             #19191c 48%,
                             #0e0ab4 56.5%,
                             #0a0561 60.4%,
                             #060551 66.2%,
                             #3b164c 72.9%,
                             #191922 85.1%,
                             #1e1ae8 89.1%,
                             #0a06b7 90.6%,
                             #19191c 93.7%,
                             #9c3cf7 100%);
    }
}
