.typewriter h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 1.5s steps(40, end)
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
.line1 {
    font-size: 2em !important;
    font-weight: 600;
}

.line2{
    font-size: 2em !important;
    font-weight: 600;
    margin: 1vh 0 0 2.5vh !important;
}

